body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.container {
  max-width: 1000px;
  margin: 0 auto; }

h3 {
  margin: 0; }

ul {
  padding-left: 0; }

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none; }

.timeline-container {
  display: flex;
  justify-content: center; }

.center {
  text-align: center; }

.tweet {
  display: flex;
  width: 100%;
  max-width: 600px;
  padding: 10px;
  border: 1px solid #dad7d7;
  border-radius: 5px; }

.avatar {
  border-radius: 25px;
  height: 50px;
  margin: 10px; }

.tweet-details {
  display: flex;
  flex-direction: column;
  padding: 10px; }
  .tweet-details > div > div {
    font-size: 14px;
    color: grey; }
  .tweet-details p {
    font-size: 18px;
    margin: 10px 0; }

.tweet-icons {
  display: flex;
  align-items: center; }
  .tweet-icons img {
    height: 20px;
    width: 20px;
    padding: 0 5px;
    cursor: pointer; }

.like-button {
  border: none;
  background: transparent;
  padding-right: 0; }

.liked {
  background-color: red; }
